@tailwind base;
@tailwind components;
@tailwind utilities;



.froala-editor h1 {
  font-size: 2rem !important;
  font-weight: bold !important;
  color: #111 !important;
}

.froala-editor h2 {
  font-size: 1.75rem !important;
  font-weight: bold !important;
  color: #222 !important;
}

.froala-editor h3 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  color: #333 !important;
}

.froala-editor h4 {
  font-size: 1.25rem !important;
  font-weight: bold !important;
  color: #444 !important;
}

.froala-editor h5 {
  font-size: 1rem !important;
  font-weight: bold !important;
  color: #555 !important;
}

.froala-editor h6 {
  font-size: 0.875rem !important;
  font-weight: bold !important;
  color: #666 !important;
}
